body {
    background-color: white;
    font-family: Arial, sans-serif;
    color: black;
    margin: 0;
}

.header {
    height: 55px;
     padding-left: 20px;
     display: flex;
     align-items: center;
}

.header p {
    font-size: 17px;
    margin: 0;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100vh - 55px);
    justify-content: center;
}

.main h1 {
    font-size: 32px;
    color: black;
    font-weight: 600;
    margin : 0;
}

.search-input {
    width: 600px;
    height: 50px;
    border-radius: 25px;
    background-color: white;
    border: 1px solid gray;
    padding: 20px;
    box-sizing: border-box;
    margin-top: 20px;
}